/*
	1.setup:安装CMS程序时的style;
	2.login:登录后台界面的style;
*/
body{
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#f8f8f8;
    color:#555;
}
/*setup*/
body#setup .setupBox{
	width:40vw;
	margin:40px auto;
	padding:20px 60px;
	border-radius:8px;
	background-color:#fff;
	border:1px solid #dedede;
	font-size:16px;
}
body#setup .setupBox h1{
	margin-bottom:20px;
	font-weight:700;
}
body#setup .logoColor{
	color:#E64A19;
	font-style:normal;
}
body#setup form{
	margin-bottom:.9em;
}
body#setup .setupBox p{
	text-indent:2em;
}
body#setup .setupBox ol{
	margin-top:1em;
}
body#setup .setupBox ol li{
	line-height:1.8em;
}
body#setup .setupBox textarea{
	width:100%;
	margin-bottom:1em;
	margin-top:1em;
}
body#setup .setupBox .table{
	font-size:14px;
	margin-top:30px;
	margin-bottom:30px;
}
body#setup .setupBox .table td{
	vertical-align:middle;
}
/*login*/
body#login .form-signin{
	max-width:330px;
	margin:100px auto 0;
	border:1px solid #dedede;
	border-radius:8px;
	background:#fff;
	overflow:hidden;
}
body#login .form-signin h2.form-signin-heading{
	margin: 0;
	padding: 20px 15px;
	text-align: center;
	background: #286090;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
body#login .form-signin .login-wrap{
	padding:20px;
}
body#login .form-signin input[type="text"],
body#login .form-signin input[type="password"]{
	margin-bottom:20px;
	border: 1px solid #eaeaea;
	font-size: 12px;
	text-align:center;
}
body#login .form-signin .checkbox{
	color: #b6b6b6;
	font-weight: 300;
	margin-left:20px;
}
body#login .form-signin .btn-login{
	display: block;
	width: 100%;
	margin-bottom:10px;
}
/*edit*/
.edit{
	max-width: 800px;
}
.edit-list .list-group-item{
	border:none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}
/*删除type="number"上下按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}