/*
	1.setup:安装CMS程序时的style;
	2.login:登录后台界面的style;
*/
body{
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#f8f8f8;
    color:#555;
}
/*setup*/
body#setup .setupBox{
	width:40vw;
	margin:40px auto;
	padding:20px 60px;
	border-radius:8px;
	background-color:#fff;
	border:1px solid #dedede;
	font-size:16px;
}
body#setup .setupBox h1{
	margin-bottom:20px;
	font-weight:700;
}
body#setup .logoColor{
	color:#E64A19;
	font-style:normal;
}
body#setup form{
	margin-bottom:.9em;
}
body#setup .setupBox p{
	text-indent:2em;
}
body#setup .setupBox ol{
	margin-top:1em;
}
body#setup .setupBox ol li{
	line-height:1.8em;
}
body#setup .setupBox textarea{
	width:100%;
	margin-bottom:1em;
	margin-top:1em;
}
body#setup .setupBox .table{
	font-size:14px;
	margin-top:30px;
	margin-bottom:30px;
}
body#setup .setupBox .table td{
	vertical-align:middle;
}
/*login*/
body#login .form-signin{
	max-width:330px;
	margin:100px auto 0;
	border:1px solid #dedede;
	border-radius:8px;
	background:#fff;
	overflow:hidden;
}
body#login .form-signin h2.form-signin-heading{
	margin: 0;
	padding: 20px 15px;
	text-align: center;
	background: #286090;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
body#login .form-signin .login-wrap{
	padding:20px;
}
body#login .form-signin input[type="text"],
body#login .form-signin input[type="password"]{
	margin-bottom:20px;
	border: 1px solid #eaeaea;
	font-size: 12px;
	text-align:center;
}
body#login .form-signin .checkbox{
	color: #b6b6b6;
	font-weight: 300;
	margin-left:20px;
}
body#login .form-signin .btn-login{
	display: block;
	width: 100%;
	margin-bottom:10px;
}
/*edit*/
.edit #p-order,
.edit .option{
	margin-bottom:1em;
}
.edit-article .selectbox,
.edit .selectbox,
.p-list .selectbox{
	display: inline-block;
	max-width: 90px;
}
.edit #collapseOne{
	margin-top:1em;
}
.edit .btn-link{color:#333}
.edit-list .list-group-item{
	border:none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}
.edit .file-input{
	display:inline-block;
	margin-top:1em;
}
/*删除type="number"上下按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
/*p-list*/
.p-list .list-table{table-layout: fixed;}
.p-list .list-table .p-contect{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	width:50%;
}
.p-list .list-table .p-contect a{
	color:#555;
	text-decoration:none;
}
.p-list .list-table .p-contect .ico,
.p-list .list-table .p-contect .ico:hover,
.p-list .list-table .p-contect .ico:visited,
.p-list .list-table .p-contect .ico:active{
	color:#23527c;
}
.p-list .list-table .p-contect a:hover,
.p-list .list-table .p-contect a:visited{
	color:#aaa;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.p-list .table-responsive{min-width:800px;}
.p-list .pagination{margin:0;}
/* edit-article */
.edit-article .option{
	/*margin-top: 1em;*/
}